@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .grid-cols-sidebar {
    grid-template-columns: 250px auto !important;
  }
}


@layer components {

  .container{
    padding-top: 30px;
    height: 100%;
  }

  .component-wrapper{
    width: 100%;
    height: 100%;
  }

  /* .overlay.sidebar-collapsed{
    width: calc(100% - 64px) !important;
  } */

  .collapsed > div > div > div.overlay{
    /* max-width: calc(100% - 64px) !important; */
  }

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.05s linear;
  }
  
  .overlay.visible{
    display: block !important;
    visibility: visible;
    opacity: 60% !important; 
  }

  .hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.05s linear;
  }

  .visible{
    display: block !important;
    visibility: visible;
    opacity: 1 !important; 
  }

  .sidebar{
    background: #00AFB5;
  }

  .sidebar-item:hover {
    background: #2D3142;
  }

  .logo-wrapper{
    /* max-height: 60px;; */
  }

  .logo{
   
    /* width:  auto;
      height: auto; */
      /* border: 1px solid blue; */
  }

  .logo.big{
    height: 60px !important;
  }

  .logo.small{
    height: 30px !important;
  }

  .page-container{
    width: 100%;
    height: 100%;
    /* padding: 50px; */
  }
  .cam-name {
    color: blue;
  }

  .cam-wrapper-old{
    text-align: center;
    background-color: gray;
    /* padding: 1rem; */
    display: block;
    position: relative;
    /* max-width: 640px;
    min-width: 320px; 
    height: 480px;*/
    max-width: 470px;
    /* min-width: 400px;  */
    height: 352px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }

  .cam-wrapper-old:hover{
    cursor: pointer;
    box-shadow: rgba(27, 28, 29, 0.4) 0px 8px 24px;
    border: 1px rgba(14, 15, 15, 0.7);
  }

  .cam-preview{
    width: 470px;
    height: 352px;
    object-fit: cover;
    overflow: hidden;
  }

  .cameras {
    transition: all .3s ease-in;
    max-width: 93%;
    vertical-align: baseline;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    gap: 2rem;
    margin: 0 auto auto;
  }

  .stream-wrapper{
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cover-spin {
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
  }

  @-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  
  #cover-spin::after {
      content:'';
      display:block;
      position:absolute;
      left:48%;top:40%;
      width:40px;height:40px;
      border-style:solid;
      border-color:black;
      border-top-color:transparent;
      border-width: 4px;
      border-radius:50%;
      -webkit-animation: spin .8s linear infinite;
      animation: spin .8s linear infinite;
  }

}