@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .grid-cols-sidebar {
    grid-template-columns: 250px auto !important;
  }
}


@layer components {

  .container{
    padding-top: 30px;
    height: 100%;
  }

  .component-wrapper{
    width: 100%;
    height: 100%;
  }

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.05s linear;
  }
  
  .overlay.visible{
    display: block !important;
    visibility: visible;
    opacity: 60% !important; 
  }

  .hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.05s linear;
  }

  .visible{
    display: block !important;
    visibility: visible;
    opacity: 1 !important; 
  }

  .sidebar-item:hover {
    background: #2D3142;
  }

  #cover-spin {
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
  }

  @-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  
  #cover-spin::after {
      content:'';
      display:block;
      position:absolute;
      left:48%;top:40%;
      width:40px;height:40px;
      border-style:solid;
      border-color:black;
      border-top-color:transparent;
      border-width: 4px;
      border-radius:50%;
      -webkit-animation: spin .8s linear infinite;
      animation: spin .8s linear infinite;
  }

}